h2{
  margin: 5px;
  padding: 5px;
}
.container{
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-left: 24px solid white;
  border-radius: 33px 0;
  top: -18px;
  left: 20px;
  width: 30px;
  height: 34px;
}
.formulario_campos, .estado{
  width: 250px;
}
.formulario, .estado2{ margin-left: 5%; margin-top: 5%; }
.estado2{ width: 300px; }
.boton_formulario{
  background-color: #00235C;
  color: white;
}
.titulo_formulario{
  padding-top: 1%;
  padding-bottom: 1%;
}
form{
  width: 90%;
  margin-left: 4%;
}
