<form [formGroup]="formContenidoCurso">
  <div class="row">
    <h2 class="titulo_formulario col-md-12">Ingresar Nuevo Contenido Curso</h2>
    <div class="col-md-6">
      <h2>Asignatura</h2>
      <mat-form-field class="formularios_campo" appearance="fill">
        <mat-label>Seleccione la asignatura</mat-label>
        <mat-select matNativeControl id="categoria" name="categoria" formControlName="categoria">
          <mat-option *ngFor="let item of listaCategorias" [value]="item"
            (click)="listarCursoSecciones(item, 'categoria')">{{item.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <h2>Curso</h2>
      <mat-form-field class="formularios_campo" appearance="fill">
        <mat-label>Seleccione el curso</mat-label>
        <mat-select matNativeControl id="curso" name="curso" formControlName="curso">
          <mat-option *ngFor="let item of listaCursos" [value]="item"
            (click)="listarCursoSecciones(item, 'curso')">{{item.titulo}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <h2>Unidad Curso</h2>
      <mat-form-field class="formularios_campo" appearance="fill">
        <mat-label>Seleccione la unidad del curso</mat-label>
        <mat-select matNativeControl id="seccionCurso" name="seccionCurso" formControlName="seccionCurso">
          <mat-option *ngFor="let item of listaSeccionCursos" [value]="item" (click)="listarCursoSecciones(item, 'seccionCurso')">{{item.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <h2>Tema del Curso</h2>
      <mat-form-field class="formularios_campo" appearance="fill">
        <mat-label>Seleccione tema del curso</mat-label>
        <mat-select matNativeControl id="temaCurso" name="temaCurso" formControlName="temaCurso">
          <mat-option *ngFor="let item of listaTemasCurso" [value]="item">{{item.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <h2>Contenido</h2>
      <button id="selectButton" mat-raised-button (click)="fileInput1.click()" style="margin-top: 15px;"><mat-icon>add_photo_alternate</mat-icon></button>
      <input #fileInput1 type="file" hidden multiple (change)="selectFiles($event)" /><br>
      <div class="archivosCompletos" id="validacionArchivoVis" style="display: none;">
        <span *ngIf="cantidadArchivos > 0" style="margin-top: 5px;"><strong style="margin-right: 5px;">Cantidad de archivos: </strong>{{cantidadArchivos}}</span><br>
        <h4 *ngIf="cantidadArchivos > 0" style="margin-top: 5px;"><strong>Nombres de los archivos seleccionados:</strong></h4>
        <ul style="margin-top: 5px; margin-bottom: 25px;" *ngIf="cantidadArchivos > 0">
          <li style="margin-top: 5px;" *ngFor="let archivo of listaContenidoCurso[0].archivos">-> {{archivo}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Boton de guardar datos -->
      <button mat-raised-button class="boton_formulario" (click)="guardar()"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipperAgregarContenidoCurso" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
