<form [formGroup] = "formAcceso">
  <div class="row">
    <h2 class="titulo_formulario col-md-12">Modificar Acceso</h2>
    <!-- Ingresar Nombre -->
    <div class="col-md-12">
      <h2>Rol</h2>
      <mat-form-field class="formularios_campo"  appearance="fill">
      <mat-label>Modifique Rol</mat-label>
      <mat-select matNativeControl id="rol" name="rol" formControlName="rol">
        <mat-option *ngFor="let item of listaRoles"  [value]="item.id">{{item.descripcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <h2>Modulo</h2>
      <mat-form-field class="formularios_campo"  appearance="fill">
      <mat-label>Modifique Modulo</mat-label>
      <mat-select matNativeControl id="modulo" name="modulo" formControlName="modulo">
        <mat-option *ngFor="let item of listaModulos"  [value]="item.id">{{item.descripcion}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
    <!-- Boton de guardar datos -->
      <button mat-raised-button class="boton_formulario" (click)="guardar()"><mat-icon>edit_square</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipperModificarAcceso" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
