<form [formGroup] = "formCursoEstudiante">
  <div class="row">
    <h2 class="titulo_formulario col-md-12">Ingresar Nuevo Estudiante al Curso</h2>
    <!-- Ingresar Nombre -->
    <div class="col-md-6">
      <h2>Usuario</h2>
      <mat-form-field class="formularios_campo"  appearance="fill">
      <mat-label>Seleccione Usuario</mat-label>
      <mat-select matNativeControl id="usuario" name="usuario" formControlName="usuario">
        <mat-option *ngFor="let item of listaUsuario" [value]="item">{{item.nombre}} {{item.apellido}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
    <!-- Boton de guardar datos -->
      <button mat-raised-button class="boton_formulario" (click)="guardar()"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>
<div class="solpiner" id="snipper" style="text-align: center; display: none;">
  <div class="loader"></div>
</div>
